.main-container {
    color: #476d6f;
    height: 70vh;
    padding-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    flex-direction: column;

    .login-buttons {
        display: flex;
        flex-direction: column;
    }
}

.top {

    height: 15vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .contact {
        font-size: 34px !important;
        padding: 7px 16px !important;
        margin: 10px !important;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 30px;
    line-height: 30px;
    background-color: #f1d9ba;
    color: #475b5d;
    padding: 8px 16px;
    margin: 10px 5px;
    box-shadow: 5px 5px #476d6f;
    border: 1px solid #476d6f;

    > img {
        padding-bottom: 3px;
        padding-left: 3px;
    }
}