.image-cropper-wrapper {
  width: 100%;
}

.file-select {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.cropper-wrapper {
  text-align: center;

  img {
    max-width: 100%;
    display: block;
  }
}
