<div class="image-cropper-wrapper">
  @if (!previewUrl) {
  <div class="file-select">
    <label class="btn btn-outline-primary label-normal">
      בחירת תמונה
      <input #fileInput type="file" accept="image/gif,image/jpeg,image/png" (change)="onFileSelected($event)" hidden />
    </label>
  </div>
  } @if (previewUrl) {
  <div class="cropper-area">
    <img #imageElement [src]="previewUrl" alt="crop preview" />
    <button type="button" class="btn btn-sm btn-outline-secondary mt-2" (click)="onReset()">בחירת תמונה אחרת</button>
  </div>
  }
</div>
