<ng-template #errorToast>
    {{ errorMessage }}
</ng-template>

<div class="category-container">
    <div
        *ngFor="let i of categoryList"
        class="category button btn btn-2 btn-2d"
        style="background: {{ i.color }}"
        (click)="onCategoryClick(i)">
        <i
            *ngIf="editModeService.isEditMode && i.id != SpecialCategories.UNCATEGORIZED"
            class="x fas fa-times-circle"
            (click)="onDeleteClick(i, errorToast)"></i>
        {{ i.name }}
        <i
            *ngIf="editModeService.isEditMode && i.id != SpecialCategories.UNCATEGORIZED"
            class="edit-button far fa-edit square-icon"
            (click)="onEditClick(i, categoryModal)"></i>
    </div>
</div>

<app-category-modal #categoryModal></app-category-modal>