.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.category {
    display: flex;
    height: 150px;
    width: 40%;
    margin-top: 20px;
    font-size: 50px;
    line-height: 50px;
    position: relative;
    overflow: visible;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    color: #515C5D;
}

.x {
    position: absolute;
    border-radius: 45px;
    right: -15px;
    top: -15px;
    font-size: 35px;
    color: #d21448;
    background-color: #fefaf4;
}

.edit-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 30px;
}

.welcome-mask {

    .mask {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgb(0,0,0,0.25);
        z-index: 1000;
        top: 0;
        left: 0;
    }

    .message {
        padding: 20px;
        border-radius: 10px;
        right: 15px;
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        background-color: rgba(255, 255, 255, 0.9);

        img {
            height: 25px;
        }

        > button {
            background-color: #515C5D;
            line-height: 25px;
            width: 55px;
            height: 35px;
            padding: 0;
            margin-top: 15px;
            color: white;
            font-size: 25px;
        }
    }

    .add-app-message {
        bottom: 15px;
    }
}