.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    display: flex;
    height: 150px;
    width: 40%;
    margin-top: 20px;
    font-size: 30px;
}