.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.category {
    display: flex;
    height: 150px;
    width: 40%;
    margin-top: 20px;
    font-size: 50px;
    line-height: 50px;
    position: relative;
    overflow: visible;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    color: #515C5D;
}

.x {
    position: absolute;
    border-radius: 45px;
    right: -15px;
    top: -15px;
    font-size: 35px;
    color: #d21448;
    background-color: #fffaf5;
}

.edit-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 25px;
}