<ng-template #errorToast>
    {{ errorMessage }}
</ng-template>

<div class="welcome-mask" *ngIf="showMessages.categoriesMessage || showMessages.iosMessage || showMessages.androidMessage">
    <div class="mask"></div>
    <div class="message" *ngIf="showMessages.categoriesMessage">
        שמנו כמה קטגוריות לדוגמה.
        <br>
        תוכלו להוסיף בכפתור הפלוס למטה,
        <br>
        ולמחוק בכפתור העריכה למעלה
        <button class="btn" (click)="gotIt('categoriesMessage')">אישור</button>
    </div>
    <div class="message add-app-message" *ngIf="showMessages.iosMessage">
        <div>
            הוסיפו כאפליקציה!
            <br>
            לחצו בספארי על <img src="./assets/apple-share.png" />
            <br>
            ובחרו "הוסף למסך הבית"
        </div>
        <button class="btn" (click)="gotIt('iosMessage')">אישור</button>
    </div>
    <div class="message add-app-message" *ngIf="showMessages.androidMessage">
        <div>
        הוסיפו כאפליקציה!
        <br>
        לחצו על התפריט בכרום
        <br>
        ובחרו "הוסף למסך הבית"
        <br>
        או "התקן אפליקציה"
    </div>
        <button class="btn" (click)="gotIt('androidMessage')">אישור</button>
    </div>
</div>
<div class="category-container">
    <div
        *ngFor="let i of categoryList"
        class="category button btn btn-2 btn-2d"
        style="background: {{ i.color }}"
        (click)="onCategoryClick(i)">
        <i
            *ngIf="editModeService.isEditMode && i.id != SpecialCategories.UNCATEGORIZED"
            class="x fas fa-times-circle"
            placement="left"
            ngbTooltip="מחיקה"
            (click)="onDeleteClick(i, errorToast)"></i>
        {{ i.name }}
        <i
            *ngIf="editModeService.isEditMode && i.id != SpecialCategories.UNCATEGORIZED"
            class="edit-button far fa-edit square-icon"
            placement="top"
            ngbTooltip="עריכת הקטגוריה"
            (click)="onEditClick(i, categoryModal)"></i>
    </div>
</div>

<app-category-modal #categoryModal></app-category-modal>