<div class="category-container">
    <div
        *ngFor="let i of categories"
        class="category button"
        style="background: {{ i.color }}"
        (click)="onCategoryClick(i)">
        <i
            *ngIf="editModeService.isEditMode && i.id != CategoriesIds.UNCATEGORIZED"
            class="x fas fa-times-circle"
            (click)="onDeleteClick(i)"></i>
        {{ i.name }}
        <i
            *ngIf="editModeService.isEditMode && i.id != CategoriesIds.UNCATEGORIZED"
            class="edit-button far fa-edit square-icon"
            (click)="onEditClick(i, categoryModal)"></i>
    </div>
</div>

<app-category-modal #categoryModal></app-category-modal>