rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
    	allow read, write: if isOwner(userId);
    }
    
    match /categories/{cid} {
    	allow create: if isRequestOwner();
    	allow read, update, delete: if isResourceOwner();
    }
    
    match /recipes/{rid} {
	    allow create: if isRequestOwner();
    	allow read, update, delete: if isResourceOwner();
    }

    function isRequestOwner() {
      return isOwner(request.resource.data.uid);
    }

    function isResourceOwner() {
      return isOwner(resource.data.uid)
    }
    
    function isLoggedIn() {
    	return request.auth.uid != null;
    }
    
    function isOwner(userId) {
    	return isLoggedIn() && request.auth.uid == userId;
    }
  }
}