.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.bg-light {
    background-color: #edf1f1 !important;
}

.square-icon {
    font-size: 30px;
    width: 48px;
    margin: 10px;
    text-align: center;
}

.fa-sign-out-alt {
    font-size: 30px;
}

.navbar-toggler {
    border: none;
    color: #515C5D;
    padding: 0;
}

.search-container {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.search-container input {
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    text-align: center;
}

.green {
    color: green;
}

@media (min-width: 768px)
{
    li {
        border-right: 1px solid #dadada;
    }
}