<nav class="wide">
  <div class="search-container">
    <i class="fas fa-search square-icon"></i>
    <input type="text" />
  </div>
  <button class="navbar-item button">מועדפים <i class="far fa-star"></i></button>
  <button class="navbar-item button">כל המתכונים <i class="fas fa-list-ul"></i></button>
  <button class="navbar-item button selected">קטגוריות <i class="fas fa-th-large"></i></button>
  <i class="far fa-edit square-icon"></i>
</nav>

<nav class="narrow">
  <i class="fas fa-bars square-icon"></i>
  <div class="search-container">
    <i class="fas fa-search square-icon"></i>
    <input type="text" />
  </div>
  <i class="far fa-edit square-icon"></i>
</nav>