<nav class="navbar navbar-expand-md navbar-light bg-light">
  <i
    class="far fa-edit square-icon"
    title="עריכה"
    [ngClass]="{
      green: this.editModeService.isEditMode && this.router.url.split('/')[1] !== 'recipes',
      disabled: this.editModeService.isEditMode && this.router.url.split('/')[1] === 'recipes'
    }"
    (click)="onEditClick()"
    style="cursor: pointer;">
  </i>
  <div class="search-container">
    <input [(ngModel)]="this.searchService.searchTerm" (input)="onSearchInputChange($event)" (click)="searchInputClick()" type="text" class="form-control" />
    <i class="fas fa-search square-icon"></i>
  </div>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <i class="fas fa-bars square-icon" title="תפריט"></i>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let i of navButtons" class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" (click)="i.onClick()">
          {{ i.text }}
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" (click)="authService.signOut()">
          <i class="fas fa-sign-out-alt" title="יציאה מהחשבון"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>