.ingredients, .prep {
    margin: 30px 20px 50px 30px;
}

.page-image {
    width: 150px;
    height:150px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    margin: 0px 20px 20px 20px;
    border-radius: 25px;
}

.labels-container {
    margin: 10px 20px;
}

.category-label {
    display: inline-block;
    padding: 4px;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
    border-radius: 5px;
}

li {
    margin: 6px;
    padding: 4px;
    list-style-type: none;
    line-height: 30px;
    font-size: 30px;
    border-radius: 5px;
}

.subtitle {
    font-weight: bolder;
}

.striked {
    text-decoration: line-through;
}

.active {
    background-color: #ffe8cb;
}

.share {
    font-size: 50px;
    margin: 20px;
    bottom: 0;
    position: absolute;
    color: #038879;
}