<ng-template #copyResultToast>
  {{ copyResultMessage }}
</ng-template>

@if (recipe && !editModeService.isEditMode) {
<div>
  <app-content-title [title]="recipe.title"></app-content-title>
  <div class="labels-container">
    @for (o of state.options; track o) {
    <div style="display: inline-block">
      @if (o.selected) {
      <div
        style="background: {{ o.category.color }}"
        class="category-label label-x-small"
        (click)="onCategoryLabelClick(o.category.id)"
      >
        {{ o.category.name }}
      </div>
      }
    </div>
    }
  </div>
  <img
    [src]="recipe.image || './assets/click_to_add.png'"
    class="page-image"
    (click)="onImageClick(recipeImageModal)"
    width="150"
    height="150"
  />
  @if (recipe.relatedRecipes?.length > 0) {
  <div>
    <div class="related-recipes">
      <div class="label-x-small" style="display: inline-block">מתכונים קשורים</div>
      @for (o of state.relatedRecipes; track o) {
      <div style="display: inline-block">
        @if (o.selected) {
        <div class="recipe-label label-x-small" (click)="onRecipeLabelClick(o.recipe.id)">
          {{ o.recipe.title }}
        </div>
        }
      </div>
      }
    </div>
  </div>
  } @if (recipe.duration || recipe.quantity) {
  <div class="extra-info label-small">
    @if (recipe.duration) {
    <p><i class="fas fa-clock"></i> {{ formatDuration(recipe.duration) }}</p>
    } @if (recipe.quantity) {
    <p><i class="fas fa-utensils"></i> {{ recipe.quantity }}</p>
    }
  </div>
  } @if (recipe.ingredients?.length > 0) {
  <div class="ingredients label-normal">
    @for (ing of recipe.ingredients.split('\n'); track ing; let i = $index) {
    <li
      (click)="onIngredientClick(i)"
      [class.striked]="!isSubtitle(ing) && isStriked(i)"
      [class.label-normal-bold]="isSubtitle(ing)"
    >
      {{ ing }}
    </li>
    }
  </div>
  } @if (recipe.prep?.length > 0) {
  <div>
    <hr />
    @if (recipe.prep?.length > 0) {
    <div class="prep label-normal">
      @for (p of recipe.prep.split('\n'); track p; let i = $index) {
      <li (click)="onStageClick(i)" [class.active]="activeStage === i">{{ p }}</li>
      }
    </div>
    }
  </div>
  } @if (recipe.link?.length > 0) {
  <div>
    <hr />
    <div class="link label-normal">
      <a [href]="recipe.link" target="_blank">{{ recipe.link }}</a>
    </div>
  </div>
  }
  <div class="share-container">
    <i
      (click)="onWhatsappClick()"
      class="share fab fa-whatsapp"
      style="color: #25d366"
      placement="top"
      ngbTooltip="שיתוף בוואטסאפ"
    >
    </i>
    <i
      (click)="onEmailClick()"
      class="share fas fa-envelope"
      style="color: #d54c3d"
      placement="top"
      ngbTooltip="שיתוף באימייל"
    >
    </i>
    @if (shouldShowCopyButton()) {
    <i
      (click)="onCopyClick(copyResultToast)"
      class="share far fa-copy"
      style="color: #4285f3"
      placement="top"
      ngbTooltip="העתקת המתכון"
    >
    </i>
    }
  </div>
</div>
} @else {
<app-recipe-edit [state]="state" [isNew]="isNew"></app-recipe-edit>
}

<app-recipe-image-modal #recipeImageModal [existingImgDownloadUrl]="recipe && recipe.image"></app-recipe-image-modal>
