.related-recipes, .extra-info, .ingredients, .prep, .link {
    margin: 30px 20px 30px 30px;
}

.page-image {
    width: 150px;
    height:150px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    margin: 0px 20px 20px 20px;
    border-radius: 25px;
}

.labels-container {
    margin: 10px 20px;
}

.category-label, .recipe-label {
    display: inline-block;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-label {
    background: bisque;
}

.extra-info {
    display: flex;
    color: #999999;

    p {
        margin: 0;
        margin-left: 10px;

        i {
            margin-left: 5px;
            border: 1px solid #999999;
            border-radius: 5px;
        }
    }
}

hr {
    $color: orange;
    color: $color;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="#{$color}" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
    width: 205px;
}

@media (min-width: 768px)
{
    hr {
        width: 595px;
    }
}

li, a {
    margin: 6px;
    padding: 4px;
    list-style-type: none;
    border-radius: 5px;
}

.link {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    white-space: nowrap;
}

a {
    color: #0645AD;
}

.striked {
    text-decoration: line-through;
}

.active {
    background-color: #ffe8cb;
}

.share-container {
    position: absolute;
    margin: 40px 20px;
    bottom: 0;

    .share {
        font-size: 30px;
        margin: 5px;
        color: #038879;
        background: #ffffff;
        border-radius: 100%;
        text-shadow: 0px 0px black;
        padding: 8px;
        cursor: pointer;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
}

@media (hover: hover) {
    .share-container .share:hover {
        background: #e4e4e4;
    }
}
