.ingredients, .prep {
    margin: 30px 20px 50px 30px;
}

.page-image {
    width: 150px;
    height:150px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    margin: 0px 20px 20px 20px;
    border-radius: 25px;
}

.labels-container {
    margin: 10px 20px;
}

.category-label {
    display: inline-block;
    padding: 4px;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin: 6px;
    padding: 4px;
    list-style-type: none;
    line-height: 30px;
    font-size: 30px;
    border-radius: 5px;
}

.subtitle {
    font-weight: bolder;
}

.striked {
    text-decoration: line-through;
}

.active {
    background-color: #ffe8cb;
}

.share-container {
    position: absolute;
    margin: 40px 20px;
    bottom: 0;

    .share {
        font-size: 30px;
        margin: 5px;
        color: #038879;
        background: #ffffff;
        border-radius: 100%;
        text-shadow: 0px 0px black;
        padding: 8px;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
}