.plus-icon {
    color: white;
    background-color: #515C5D;
    font-size: 40px;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    border: 5px solid #515C5D;
    border-radius: 100%;
}

.popover-menu {
    padding: 5px 20px;
    width: 200px;
    text-align: center;
    border-radius: 45px;
    overflow: hidden;
    position: absolute;
    bottom: 65px;
    left: 0;
    background-color: #515C5D;
}
.popover-menu button {
    font-size: 35px;
    line-height: 35px;
    color: #515C5D;
    padding: 5px;
    margin: 5px 5px;
    width: 150px;
    background: #f6e193;
    box-shadow: 0 6px #c7b677;
}

.shown {
    height: 115px;
    transition: all linear 180ms;
}

.hidden {
    height: 0;
    width: 0;
    padding: 0;
    transition: all linear 180ms;
}