.notification {
    padding: 5px 40px 5px 10px;
    width: 200px;
    text-align: center;
    border-radius: 45px;
    background-color: #515C5D;
    color: white;
    font-size: 30px;
    line-height: 30px;
    box-shadow: none;
}