.modal-header {
  border: none;
  border-bottom: 1px solid grey;
  background-color: #d8e2d7;;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.modal-body {
  text-align: center;
  border-bottom: 1px solid grey;
  background-color: antiquewhite;
  padding: 15px 0px;
}

.modal-footer {
  justify-content: space-between;
  border: none;
  background-color: #d8e2d7;;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  button {
    border: 1px solid grey;
    padding: 6px 9px;
  }
}

.action-buttons>* {
  margin: .25rem;
}

.close {
  padding: 0;
  margin: 0;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0645AD;
  text-decoration: none;
}

h4 { 
  margin: 0px 5px;
}