<div class="modal-header">
  <h4 class="modal-title">צרו קשר</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    היי, אני רותם.
    <br>
    פיתחתי את ריצ'טה
    <br>
    ("מתכונים" באיטלקית)
    <br>
    לעצמי אחרי שלא מצאתי אחת כזו.
    <br>
    מקווה שתיהנו ממנה גם.
    <br>
    אשמח לפידבק מכל סוג!
    <br>
    <a href="mailto:rotemy9@gmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
  <div class="modal-footer">
    <button
      (click)="dismiss()"
      class="btn"
      style="background-color: '#c8ced4';">
      סגירה
    </button>
</div>