.title-container {
    display: flex;
    align-items: center;
    margin: 70px 10px 0px 20px;
    font-size: 50px;
    line-height: 50px;
    font-family: Stanga-Bold, Stanga-English-Bold;
}

.back-button {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    font-size: 30px;
    margin: 0px 10px;
    background-color: #f58f50;
    box-shadow: none;
    color: white;
    border-radius: 45px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

span i {
    font-size: 30px;
    cursor: pointer;
}