<div [ngSwitch]="authService.state">
    <div *ngSwitchCase="LoginState.Loading" class="loading">
        <i class="fas fa-spin fa-circle-notch"></i>
    </div>
    <div *ngSwitchCase="LoginState.LoggedOut" class="login-container">
        <app-login-page></app-login-page>
    </div>
    <div *ngSwitchDefault class="main-container">
        <app-navbar></app-navbar>
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <app-content></app-content>
        <app-add-button></app-add-button>
    </div>
    <app-update-notification
        [class.notification-shown]="updateExist"
        [class.notification-hidden]="!updateExist"
    ></app-update-notification>
</div>