.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

app-update-notification {
    position: fixed;
    bottom: 5%;
    right: -45px;
}

.notification-shown {
    right: -45px;
    transition: all linear 180ms;
}

.notification-hidden {
    right: -250px;
    height: 0;
    width: 0;
}