.main-container {
    width: 100%;
    color: #515C5D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading, .login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.login-pane {
    background-color: #d8f0ec;
    padding: 20px 10px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px #505c5d;
}

.login-page .fa-user-circle {
    font-size: 60px;
}

.login-page .fa-google {
    color: #4284f3;
}

.button {
    font-size: 35px;
    background-color: white;
    color: #515C5D;
    padding: 10px 20px;
    margin: 10px 5px;
    box-shadow: 5px 5px #515C5D;
}

app-navbar {
    position: fixed;
    top: 0;
    background: #fffaf5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    width: 100vw;
    z-index: 1;
}

app-add-button {
    position: fixed;
    bottom: 5%;
    left: 3%;
}

app-content {
    padding-top: 50px;
    padding-bottom: 100px;
    flex: 1;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

app-content-title {
    width: 50%;
}