.app {
    color: #515C5D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-top-panel {
    position: fixed;
    top: 0;
    background: #fffaf5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
}

app-add-button {
    position: fixed;
    bottom: 5%;
    left: 3%;
}

app-content {
    margin-top: 50px;
    margin-bottom: 100px;
    flex: 1;
    direction: rtl;
    width: 100%;
    max-width: 1000px;
}

app-content-title {
    width: 50%;
}