<ng-template #errorToast>
    {{ errorMessage }}
</ng-template>

<ng-template #recipeModal let-modal>
    <div class="mask" *ngIf="loading"><i class="fas fa-spin fa-circle-notch"></i></div>
    <div class="modal-header">
    <h4 class="modal-title">{{ action }} מתכון</h4>
    <button type="button" class="close" style="margin:0;padding:0" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">שם המתכון</span>
            </div>
            <input [value]="state.title" (keyup)="onRecipeNameInputChange($event)" type="text" class="form-control recipe-name-input" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">מצרכים</span>
            </div>
            <textarea [value]="state.ingredients" (keyup)="onIngredientsInputChange($event)" type="text" class="form-control ingredients-input" rows="5"></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">אופן הכנה</span>
            </div>
            <textarea [value]="state.prep" (keyup)="onPrepInputChange($event)" type="text" class="form-control prep-input" rows="10"></textarea>
        </div>
        
        <div class="form-is-favourite-checkbox">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="state.isFavourite" />
            <label class="form-check-label">הוספה למועדפים</label>
        </div>

        <div class="row" *ngIf="state.options.length" class="add-categories-to-recipe">
            <div class="col">
                <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>הוסיפו קטגוריות למתכון</button>
                        <div ngbDropdownMenu>
                        <div class="form-categories-checkboxes" *ngFor="let option of state.options">
                            <input class="form-checkbox" type="checkbox" [(ngModel)]="option.selected" />
                            <label class="form-check-label">{{ option.category.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">סגירה</button>
    <button type="button" class="btn btn-success" (click)="onOK(modal, errorToast)" ngbAutofocus>אישור</button>
    </div>
</ng-template>