<ng-template #errorToast>
  {{ errorMessage }}
</ng-template>

@if (recipe) {
<div class="recipe-entry" (click)="onRecipeClick()">
  <figure>
    <img [src]="recipe.image || './assets/food-small.png'" width="70" height="70" />
  </figure>
  <span class="entry-title label-medium">
    @if (editService.isEditMode) {
    <i class="x fas fa-times-circle" placement="left" ngbTooltip="מחיקה" (click)="onDeleteClick(errorToast)"> </i>
    }
    {{ recipe.title }}
    @if (editService.isEditMode) {
    <i class="edit-button far fa-edit square-icon" placement="right" ngbTooltip="עריכת המתכון" (click)="onEditClick()">
    </i>
    }
  </span>
  <div class="category-container">
    @for (i of categoryColors; track i) {
    <span>
      <div class="category-color" style="background-color: {{ i }};"></div>
    </span>
    }
  </div>
</div>
}
