.recipe-entry {
    margin: 20px 20px;
    padding: 0px 30px;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #edf1f1;
    position: relative;
}

.recipe-entry img {
    height: 70px;
    width: 70px;
    min-height: 70px;
    min-width: 70px;
    padding: 10px 0px;
    border-radius: 25px;
}

.entry-title {
    font-size: 40px;
    line-height: 40px;
    margin-right: 10px;
    width: 100%;
}

.category-color {
    height: 15px;
    width: 15px;
    border-radius: 45px;
    margin: 1px;
    border: 1px solid #515C5D;
}

.x {
    position: absolute;
    border-radius: 45px;
    right: -5px;
    top: -5px;
    font-size: 30px;
    color: #d21448;
    background-color: #fffaf5;
}

.edit-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 25px;
}