<ng-template #errorToast>
    {{ errorMessage }}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div *ngIf="recipe" class="recipe-entry" (click)="onRecipeClick()">
    <figure>
        <img [src]="recipe.image || './assets/food.jpg'" />
    </figure>
    <span class="entry-title">
        <i
            *ngIf="editService.isEditMode"
            class="x fas fa-times-circle"
            (click)="onDeleteClick(errorToast)"></i>
        {{ recipe.title }}
        <i
            *ngIf="editService.isEditMode"
            class="edit-button far fa-edit square-icon"
            (click)="onEditClick(recipeModal)"></i>
    </span>
    <div class="category-container">
        <span *ngFor="let i of categoryColors">
            <div class="category-color" style="background-color: {{ i }};"></div>
        </span>
    </div>
</div>

<app-recipe-modal #recipeModal></app-recipe-modal>