<app-content-title [title]="categoryName"></app-content-title>
<app-recipe-entry *ngFor="let i of recipeList" [recipe]="i"></app-recipe-entry>
<div class="no-recepies" *ngIf="!recipeList || !recipeList.length">
    <img src="./assets/cactus.png" />
    <p *ngIf="categoryId !== CategoriesIds.SEARCH_RESULTS">
        אין כאן <span *ngIf="categoryId !== CategoriesIds.UNCATEGORIZED">עדיין </span>מתכונים
    </p>
    <p *ngIf="categoryId === CategoriesIds.SEARCH_RESULTS">
        אין תוצאות
    </p>
</div>