<app-content-title [title]="categoryName" [onEdit]="onEditCategory(categoryModal)" [showEdit]="isStandardCategory()">
</app-content-title>
@for (i of recipeList; track i) {
<app-recipe-entry [recipe]="i" [categoryId]="categoryId"></app-recipe-entry>
} @if (recipeList?.length === 0) {
<div class="no-recepies label-medium">
  <img src="./assets/cactus.png" width="140" height="140" />
  @if (categoryId !== SpecialCategories.SEARCH_RESULTS) {
  <p>
    @if (categoryId !== SpecialCategories.UNCATEGORIZED) {
    <span>עדיין </span>
    }אין כאן מתכונים
  </p>
  } @else {
  <p>אין תוצאות</p>
  }
</div>
}

<app-category-modal #categoryModal></app-category-modal>
