/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Stanga;
  src: url(assets/fonts/stanga-regular-aaa.woff) format("woff");
}

@font-face {
  font-family: Stanga-Bold;
  src: url(assets/fonts/stanga-bold-aaa.ttf) format("opentype");
}

@font-face {
  font-family: Rounded;
  src: url(assets/fonts/MPLUSRounded1c-Light.ttf) format("opentype");
}

body {
  font-family: 'Stanga', 'Rounded', 'Lucida Sans Regular', Verdana, sans-serif;
  height: 100%;
  margin: 0;
  color: #515C5D;
  background-color: #fffaf5;
  text-align: right;
  direction: rtl;
}

.modal-open {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-content {
  margin: 0 auto;
}

.button {
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 7px;
  background-color: transparent;
  cursor: pointer;
  color: #515C5D;
  border: none;
}

button:focus {
  outline: none;
}

.preset-colors .preset-color {
  width: 30px !important;
  height: 30px !important;
  margin: 1px !important;
}

.hex-text, .type-policy {
  display: none !important;
}

.preset-label {
  font-size: 25px !important;
  text-align: right !important;
  white-space: pre-wrap !important;
  line-height: 25px !important;
}

*,
::before, 
::after {
  box-sizing: content-box;
}

.popup .modal-content {
  background-color: transparent;
  border: none;
  width: 350px;
}

/* labels */

app-root, ngb-modal-window, .dropdown-menu {

  .label-x-small {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.03rem;
  }
  
  .label-small {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.03rem;
  }
  
  .label-normal {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.03rem;
  }
  
  .label-normal-bold {
    font-size: 30px;
    line-height: 30px;
    font-family: Stanga-Bold, Stanga;
  }
  
  .label-medium {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.03rem;
  }
  
  .label-large {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.03rem;
  }
  
  .label-large-bold {
    font-size: 50px;
    line-height: 50px;
    font-family: Stanga-Bold, Stanga;
  }
}