/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Jacqueline FM;
    src: url(assets/fonts/jacqueline-regular-fm.ttf) format("opentype");
  }

body {
    font-family: 'Jacqueline FM', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    color: #515C5D;
    background-color: #fffaf5;
    text-align: right;
    direction: rtl;
}

.button {
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 7px;
  background-color: transparent;
  font-family: 'Jacqueline FM', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
  color: #515C5D;
}

button:focus {
  outline: none;
}

*,
::before, 
::after {
  box-sizing: content-box;
}